body{
    padding: 0px;
    margin: 0px;

    /*turn off text highlighting*/
    -webkit-user-select: none;    /* Safari */
    -webkit-touch-callout: none;  /* iOS Safari */
    -khtml-user-select: none;     /* Konqueror HTML */
    -ms-user-select: none;        /* Internet Explorer/Edge */
    -moz-user-select: none;       /* Old versions of Firefox */
    user-select: none;    
    overflow: hidden;
    position:relative; 
    
    transform: translateZ(0);
    /*font-family: 'Noto Sans JP', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;

    /*font-family: 'Roboto', sans-serif;*/
    /*letter-spacing: 1px;*/
    font-size: 17px;
}

.page{
    background-color:   white;
    border: 1px #6C757D solid;
    position: absolute;
    top: 30px;
    left: 100px;
    padding: 10px;
    margin-bottom: 10px;
    
    border-radius: 2px;
  
}


#app{
    width:100%; 
    margin: 0px;
    padding: 0px;
    height:100%;
    display: grid ;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 100%;
    
}


.menu {
    background-color: #e9ecef;
    padding: 0px;
    margin: 0px;
    z-index: 3;
    border-left: 1px solid;
    overflow: hidden;
}

.actionHeading{
    background-color: #ef767a !important;
    color: white !important
    
}

.dataHeading{
    background-color: #7768AE !important;
    color: white !important

}


.eventHeading{
    background-color: #eeb868 !important;
    color: white !important
}

.uiHeading{
    background-color: #49beaa !important;
    color: white !important
}




.blueprint{
    background-color: #F8F9FA;
    border: 1px #6C757D solid;
    position: absolute;
    white-space: nowrap;
    border-radius: 2px;

    /*Break in case of throwable blueprints*/
    /*transition: all 1s;*/
    
}


svg{
    position: relative;
    z-index: 2;
    
  }

  path{
      pointer-events: none;
  }




.blueprint ui-shelf{
    display: inline;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 10px;
}

.blueprintItem{
    padding:5px
}

.blueprintHeading{
    padding:5px
}

.hookBand {
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    
    /*width: min-content;*/
    
    padding-left: 5px;
    padding-right: 5px;
}


.hook {
    width: 9px;
    height: 9px;
    padding: 0px;
    margin: 0px;
   
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    
    border-radius: 25px;
    border: 1px black solid;
    
    display:inline-block;
    background-color: white;
  }

.hookBand .in{
    margin-right: 5px;
}


.hookBand .out{
    margin-left: 5px;
}


zen-shelf{
   
    display: inline-block;
    
    
    
    width: 100%;
}


zen-shelf .heading{
    border-bottom: 1px solid #CED4DA;
    color: #6C757D;
    display: inline-block;
    width: 100%;
    padding: 10px;
}

zen-shelf .content{
    border-bottom: 1px solid #CED4DA;
    background-color: #F8F9FA;
    padding: 5px;
    line-height: 30px;
    font-size: 15px;
}

.selfNotifier{
    border: 1px black solid;
    margin: 5px;
    padding: 2px;
    border-radius: 2px;
    
}


.blueprintArea{
    
    padding: 10px;
    margin: 0px;
    overflow: hidden;
    
}

.zeninput {
    background-color: lightgray;
    outline-width: 0;
    
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: solid grey 1px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: .9em; 
}

.blueprint input, .blueprint select{
    background-color: lightgray;
    outline-width: 0;
    
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: solid grey 1px;
    width: 130px;
    margin-left: 10px;
    float: right;
}

.listItemDiv {
    border-top: 1px solid #CED4DA;
    padding-left: 5px;
    background-color: #e9ecef;
    color: #6C757D;
}

.listDiv{
    border-top: 1px solid #CED4DA;
    background-color: #F8F9FA ;
    display: inline-grid ;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
   
    width: 200px;
    
   align-items: center;
}

.listDiv i{
    color: #6C757D;
    height: 100%;
    font-size: 15px;
    opacity: 0.7;
}

.listDiv span{
    text-align: center;
    font-weight: lighter;
}

.listInput {
    
    border-bottom: none !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    background-color: #F8F9FA !important;
    
    
    padding: 2px !important;
    padding-left: 5px;
    margin: 0 !important;
    width: auto !important;
}

.preview{
   
    background-color: #e9ecef;
   

    /*padding: 5px;*/

    z-index: 2;
}



.blueprintContainer{
    position: absolute;
    width: 1000%;
    height: 1000%;
    top: 0;
    left: 0;
    overflow: visible;
    background-color: #fff;
    background-size: 50px 50px;

    /*z-index: 0;*/
    background-image:
      linear-gradient(to right, #DEE2E6 1px, transparent 1px),
      linear-gradient(to bottom, #DEE2E6 1px, transparent 1px);
}